@model IEnumerable<UserViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Kullanıcı Listesi</h1>

<div class="row">
    <div class="col-12">
        <div class="float-end">
            <a class="btn btn-outline-primary btn-sm" asp-controller="User" asp-action="Create">Yeni Kullanıcı Ekle</a>
        </div>
        <div class="float-start col-4">
            @if (TempData.ContainsKey("ResultMessage"))
            {
                <div class="alert alert-success">
                    @TempData["ResultMessage"]
                </div>
            }
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Kullanıcı Adı</th>
                    <th>Personel Adı</th>
                    <th>Yetki</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.UserName</td>
                        <td>@user.EmployeeName</td>
                        <td>@user.RoleName</td>
                        

                        <td class="text-end">
                            <a class="btn btn-outline-primary btn-sm" asp-controller="User" asp-action="Edit" asp-route-id="@user.Id">Düzenle </a>
                            <form asp-action="Delete" method="post" class="delete-form d-inline-block" onclick="return confirm('Bu kullanıcıyı silmek istediğinize emin misiniz?');">
                                <input type="hidden" value="@user.Id" name="id">
                                <button class="btn btn-outline-danger btn-sm">Sil</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

